.App {
  text-align: center;
}

header {
  position: fixed;
  width: 100%;
  height: 10%;
}

.App-title {
  float: left;
  margin-left: 2em;
}

.info-link {
  float: right;
  margin-right: 2em;
}

.tumblr-photos{
  width: 70%;
  height: auto;
}

.tumblr-photos-wrapper {
  list-style-type: none;
  margin: 1em;
}